<!-- top tiles -->
<div class="row tile_count">
  
</div>
<!-- /top tiles -->
<div class="row">
  <div class="col-md-12">
    <div class="">
      <div class="x_content">
        <div class="row">
        	<div id="horaActual"></div>
        </div>
        <div class="row">
          <a [routerLink]="['/panel/encuestas']">
          	<div class="animated flipInY col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile-stats wrapper-tile-stats">
                  <div class="icon"><img src="assets/images/icons/encuesta.png">
                  </div>
                  <div class="count tile-stats-center">Encuestas</div>
                </div>
              </div>
      	  </a>
        </div>
      </div>
    </div>
  </div>
</div>