<div class="row">
	 <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><a id="menu_toggle" [routerLink]="['/panel/home']"><i class="fa fa-chevron-left"></i></a> Lista de Clientes</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-12 col-sm-12 col-xs-12">
		        <!-- Inicio Botones Modal-->
                  <div class="pull-right">
                      <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target=".bs-example-modal-crear">Registrar Cliente</button>
                      <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-modificar">Modificar Cliente</button>-->
                  </div>
              <!-- Final Botones Modal-->
  	        </div>			
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Empresa</th>
                  <th>Cliente</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody *ngIf="listaTablaClientes?.length != 0">
                <tr *ngFor="let cliente of listaTablaClientes; index as indice" id="fila-{{indice}}">
                  <td>{{cliente.razonsocial}}</td>
                  <td>{{cliente.alias}}</td>
                  <td><a (click)="onDeleteCliente(cliente.cliente_id, indice)" class="iconsTabla"><i class="fa fa-trash"></i></a></td>
                </tr>
              </tbody>
              <tbody *ngIf="listaTablaClientes?.length == 0">
                <tr>
                  <td colspan="4" class="no-data-available">Lo siento aún no existen clientes!</td>
                </tr>
              <tbody>
            </table>
            <!-- Inicio  Modal Crear -->
                  <div class="modal fade bs-example-modal-crear" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-crear">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" #btnCloseModal class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel">Registrar Nuevo Cliente</h4>
                        </div>
                        <div class="modal-body">
                        <div #mensajeError class="alert alert-danger alert-dismissible fade in" role="alert" *ngIf="mensajesErrorForm">
        <p *ngFor="let error of mensajesErrorForm">
          <span >{{error}}</span>
        </p>
      </div>
                              <form #formNuevoCliente="ngForm" (ngSubmit)="onNuevoCliente(formNuevoCliente)" class="form-horizontal form-label-left">
                              <div class="item form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Empresa <span class="required">*</span>
                                  </label>  
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group ">
                                    <select class="form-control" name="empresaId" [(ngModel)]="cliente.empresaId" required>
                                      <option value="">Seleccione Empresa</option>
                                      <option *ngFor="let empresa of listaEmpresas; index as indice" [value]="empresa.empresa_id">{{empresa.razonsocial}}</option>
                                    </select>
                                  
                                </div>
                              </div>
                              <div class="item form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Alias: <span class="required">*</span>
                                  </label>  
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group ">
                                  <input type="text" name="alias" [(ngModel)]="cliente.alias" required class="form-control -left" placeholder="Alias">
                                 
                                </div>
                              </div>                              
                              <!--<div class="item form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Propietario <span class="required">*</span>
                                  </label>  
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group ">
                                    <select class="form-control" name="ispropietario" [(ngModel)]="cliente.ispropietario" required>
                                      <option value="">Seleccione</option>
                                      <option value="1">Si</option>
                                      <option value="0">No</option>
                                    </select>                                  
                                </div>
                              </div>  -->                            
                                <div class="form-group">
                                  <div class="col-md-6 col-md-offset-3">
                                    <button id="send" [disabled]="!formNuevoCliente.form.valid" type="submit" class="btn btn-success">Crear Cliente</button>
                                  </div>
                                </div>
                              </form>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>

                      </div>
                    </div>
                  </div>
 <!-- Final  modal -->
          </div>
        </div>
      </div>
</div>