<div [ngClass]="['container', 'body']">
  <div [ngClass]="['']">
    <!--<app-menuprincipal></app-menuprincipal>-->
    <app-cabecera></app-cabecera>
    <app-contenido></app-contenido>
    <app-piepagina></app-piepagina>
  </div>
</div>