<div class="row">
	 <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><a id="menu_toggle" [routerLink]="['/panel/home']"><i class="fa fa-chevron-left"></i></a> Lista de Usuarios</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-12 col-sm-12 col-xs-12">
		        <!-- Inicio Botones Modal-->
                  <div class="pull-right">
                      <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target=".bs-example-modal-crear">Registrar Usuario</button>
                      <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-modificar">Modificar Usuario</button>-->
                  </div>
              <!-- Final Botones Modal-->
  	        </div>			
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Usuario</th>
                  <th>Tipo Usuario</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody *ngIf="listaTablaUsuarios?.length != 0">
                <tr *ngFor="let usuario of listaTablaUsuarios; index as indice" id="fila-{{indice}}">
                  <td>{{usuario.username}}</td>
                  <td>{{usuario.tipousuario}}</td>
                  <td>
                    <button type="button" (click)="onBuscarUsuario(usuario.usuario_id)" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-modificar"><i class="fa fa-pencil"></i></button>
                    <button type="button" (click)="onDeleteUsuario(usuario.usuario_id, indice)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="listaTablaUsuarios?.length == 0">
                <tr>
                  <td colspan="4" class="no-data-available">Lo siento aún no existen usuarios!</td>
                </tr>
              <tbody>
            </table>

 <!-- Inicio  Modal Crear -->
                  <div class="modal fade bs-example-modal-crear" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-crear">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" #btnCloseModal class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel">Registrar Nuevo Usuario</h4>
                        </div>
                        <div class="modal-body">
    <div #mensajeError class="alert alert-danger alert-dismissible fade in" role="alert" *ngIf="mensajesErrorForm">
        <p *ngFor="let error of mensajesErrorForm">
          <span >{{error}}</span>
        </p>
      </div>


                              <form #formNuevoUsuario="ngForm" (ngSubmit)="onNuevoUsuario(formNuevoUsuario)" class="form-horizontal form-label-left">

                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Nombres <span class="required">*</span>
                                                    </label>  
                                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <input type="text" [(ngModel)]="nuevoUsuario.nombres" required class="form-control has-feedback-left" name="nombres" placeholder="Dijite Nombres">
                                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                  </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Apellidos <span class="required">*</span>
                                                    </label>  
                                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <input type="text" [(ngModel)]="nuevoUsuario.apellidos" required class="form-control has-feedback-left" name="apellidos" placeholder="Dijite Apellidos">
                                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                  </div>
                                                </div>
                                                <div class="item form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Usuario <span class="required">*</span>
                                                      </label>  
                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                      <input type="text" [(ngModel)]="nuevoUsuario.username" required class="form-control has-feedback-left" name="username" placeholder="Dijite Usuario">
                                                      <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                                  <div class="item form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Contraseña <span class="required">*</span>
                                                      </label>  
                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                      <input type="password" required [(ngModel)]="nuevoUsuario.password" class="form-control has-feedback-left" name="password" placeholder="Dijite Contraseña">
                                                      <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                                                    </div>
                                                  </div>
                                                  <div class="item form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Confirmar Contraseña <span class="required">*</span>
                                                      </label>  
                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                      <input type="password" required [(ngModel)]="nuevoUsuario.password_confirmation" class="form-control has-feedback-left" name="password_confirmation" placeholder="Dijite Confirmar Contraseña">
                                                      <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                                                    </div>
                                                  </div>
                                                  <div class="item form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Tipo de Usuario <span class="required">*</span>
                                                      </label>  
                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                        <select class="form-control" [(ngModel)]="nuevoUsuario.tipousuario" name="tipousuario" required>
                                                          <option value="">Seleccione Tipo Usuario</option>
                                                          <option value="1">Administrador</option>
                                                          <option value="2">Vendedor</option>
                                                        </select>
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <div class="col-md-6 col-md-offset-3">
                                                        <button [disabled]="!formNuevoUsuario.form.valid" type="submit" class="btn btn-success">Crear Usuario</button>
                                                      </div>
                                                    </div>
                              </form>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>

                      </div>
                    </div>
                  </div>
 <!-- Final  modal -->


 <div class="modal fade bs-example-modal-modificar" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-modificar">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" #btnCloseModalEditar class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel">Modificar Usuario</h4>
                        </div>
                        <div class="modal-body">
    <div #mensajeError class="alert alert-danger alert-dismissible fade in" role="alert" *ngIf="mensajesErrorForm">
        <p *ngFor="let error of mensajesErrorForm">
          <span >{{error}}</span>
        </p>
      </div>


                              <form #formModificarUsuario="ngForm" (ngSubmit)="onModificarUsuario(formModificarUsuario)" class="form-horizontal form-label-left">
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Nombres <span class="required">*</span>
                                                    </label>  
                                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <input type="text" [(ngModel)]="modificarUsuario.nombres" required class="form-control has-feedback-left" name="nombres" placeholder="Dijite Nombres">
                                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                  </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Apellidos <span class="required">*</span>
                                                    </label>  
                                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <input type="text" [(ngModel)]="modificarUsuario.apellidos" required class="form-control has-feedback-left" name="apellidos" placeholder="Dijite Apellidos">
                                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                  </div>
                                                </div>
                                                <div class="item form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Usuario <span class="required">*</span>
                                                      </label>  
                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                      <input type="text" [(ngModel)]="modificarUsuario.username" required class="form-control has-feedback-left" name="username" placeholder="Dijite Usuario">

                                                      <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                    </div>
                                                </div>                                                  
                                                  <div class="item form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Contraseña <span class="required">*</span>
                                                      </label>  
                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                      <input type="password" [(ngModel)]="modificarUsuario.password" class="form-control has-feedback-left" name="password" placeholder="Dijite Contraseña">
                                                      <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                                                    </div>
                                                  </div>
                                                  <div class="item form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Confirmar Contraseña <span class="required">*</span>
                                                      </label>  
                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                      <input type="password" [(ngModel)]="modificarUsuario.password_confirmation" class="form-control has-feedback-left" name="password_confirmation" placeholder="Dijite Confirmar Contraseña">
                                                      <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                                                    </div>
                                                  </div>
                                                  <div class="item form-group">
                                                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name"> Tipo de Usuario <span class="required">*</span>
                                                      </label>  
                                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                        <select class="form-control" [(ngModel)]="modificarUsuario.tipousuario" name="tipousuario" required>
                                                          <option value="">Seleccione Tipo Usuario</option>
                                                          <option value="1">Administrador</option>
                                                          <option value="2">Vendedor</option>
                                                        </select>
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                      <div class="col-md-6 col-md-offset-3">
                                                        <button [disabled]="!formModificarUsuario.form.valid" type="submit" class="btn btn-success">Modificar Usuario</button>
                                                      </div>
                                                    </div>
                              </form>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>

                      </div>
                    </div>
                  </div>
 <!-- Final  modal -->



          </div>
        </div>
      </div>
</div>