
<div class="containet-fluid">
  <div class="col-md-4 col-sm-5 col-xs-12">
    <div class="login_wrapper wrapperLogin">
      <div class="animate form login_form col-md-12 col-sm-12 col-xs-12">
        <section class="login_content col-md-12 col-sm-12 col-xs-12">
          <div #mensajeError class="alert alert-danger alert-dismissible fade in" role="alert" *ngIf="mensajesErrorForm">
            <p *ngFor="let error of mensajesErrorForm">
              <span >{{error}}</span>
            </p>
          </div>
          <form #formIniciarSesion = "ngForm" (ngSubmit)="onIniciarSesion(formIniciarSesion)">            
            <h1>Iniciar Sesión</h1>
            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <input type="text" name="email" [(ngModel)]="usuario.email" class="form-control" placeholder="Dijite Usuario" required />
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <div class="form-group has-feedback">
                <input type="password" name="password" [(ngModel)]="usuario.password" class="form-control" placeholder="Dijite Contraseña" required />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-success submit" [disabled]="!formIniciarSesion.form.valid">Iniciar Sesión</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </section>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-7 col-xs-12 backgroundLogin"></div>  
</div>