.backgroundLogin{
    height: 100vh;
    background-image: url("../../../assets/images/backgrounds/background-login.jpg");
    background-size: cover;
    background-position: 50%;
    -webkit-box-shadow: inset -24px 4px 64px -24px #474747;
    box-shadow: inset -24px 4px 64px -24px #474747;
}

.wrapperLogin{
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .backgroundLogin { display: none; }
 }