/* You can add global styles to this file, and also import other style files */

/*
   server-side-angular-way.component.css
*/
.no-data-available {
  text-align: center;
}

/*
   src/styles.css (i.e. your global style)
*/
.dataTables_empty {
  display: none;
}

.iconsTabla{
    font-size:1.5em;
    color:#a94442;
    text-align:center;
}

.thumbailFixed{
  height: 220px !important;
}

.thumbailFixed .image{
  height: 180px;
}

.tituloBoxThumbail{
  font-size:20px;
  text-align:center;
  padding: 5px 0px 0px 0px;
}

.wrapperMenu{
  display:block;
  margin:0x 2px 200px 0px;
  padding: 0px 0px 20px 0px;
}
.tituloMenu{
  color: white;
  text-align:center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 2px;
}

.subTituloMenu{
  color: #a83235;
  margin: 30px 0px 10px 0px;
  text-align:left;
}

.platosMenu{
  padding: 10px 0px;
}

.platoMenu{
}

.detallePlato{
  padding: 0px 0px;
  width:95%;
}

.detallePlato:hover{
  background: #DFF0D8;
  color:white !important;
}

.nombrePlato{
  font-size: 1.2em;
  text-align:left;
  word-break: break-all;
  padding: 0px;
  margin:0px;
  color: #3f3844;
}


.precioPlato{
  font-size: 1.2em;
  text-align:right;
  word-break: break-all;
  padding: 0px;
  margin:0px;
  cursor:pointer;
  color: #3f3844;
}


.imagenFondoVentas{
  margin:0 auto;
  display:block;
  width:45%;
}

.backgroundTituloRed{
  background: #a83235;
}
.backgroundTituloVerde{
  background: rgba(12,146,72,1);
}
.backgroundTituloAmarillo{
  background: rgba(209,169,81,1);
}

/* Pedido */
.wrapperPlatoPedido{
  height: auto;
}
.platoPedido{
    display: block;
    padding: 10px;
    height: auto;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border .2s ease-in-out;
}

.imagenPlatoPedido{
  height: auto;
  margin-bottom:20px;
  text-align:center;
}

.imagenPlatoPedido >img{
  width:80%;
  max-width:250px;
}

.tamanoInputCantidaPlatoPedido{
  width:70px;
}
.detallePlatoPedido{
  font-size:16px;
  height:34px;
  margin-top:8px;
}
.wrapperDetallePedido{
  margin: 50px 0px 20px 0px;
}
.tituloPedido{
  font-weight:700;
  font-size:16px;
}

.textoPlatoPedido{
  display:inline-block;
  cursor:pointer;
  text-align:left;
}
.botonAddPlato{
  padding: 5px 0px;
}

.swal2-popup {
  font-size: 1.4rem !important;
}

@media (max-width: 575.98px) {
  .wrapperMenu{
    margin: 0px 5px 30px 0px;
  }
  .imagenFondoVentas{
    width:80%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .wrapperMenu{
    width: 48%;
    margin: 0px 5px 30px 0px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .wrapperMenu{
    width: 48%;
    margin: 0px 5px 30px 0px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .wrapperMenu{
    width: 32%;
    margin: 0px 5px 30px 0px;
  }
}

@media (min-width: 1500px) {
  .wrapperMenu{
    width: 24%;
    margin: 0px 6px 30px 0px;
  }
}
